<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">VIvaluaTe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% comment %} <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

            {% endcomment %}
        
        </ul>
        {% if request.user.is_authenticated %}
        <button type="button" class="btn btn-info mx-3">
            
           
           {{ request.user.username }}
        </button>
            {% endif %}
        </button>
        {% if not request.user.is_authenticated %}
        <button type="button" class="btn btn-info ">
            login
        </button>
        {% else %}
        <button type="button" class="btn btn-info mx-3"  onclick="window.location.href='/logout'">
            logout
        </button>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
           Create Question
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Enter Your question</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/createquestion/{{pk}}/{{pk1}}" method="post">
                    <div class="modal-body">
                      
                            {% csrf_token %}
                            <input class="my-2" type="text" placeholder="Question Description" required name="name" id="name">
                            <input class="my-2" type="text" placeholder="Correct Answer" required name="answer" id="marks">
                            <input class="my-2" type="text" placeholder="Marks " required name="marks" id="marks">
                       
                    </div>
                    <div class="modal-footer">
                       
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
        {% endif %}
        <div class="dropdown-menu" id="dropdown-box">
            <a class="dropdown-item" href="/logout" id='logout-link'>logout</a>
            <a class="dropdown-item" href="/blog/addblog" id='addblog-link'>add blog</a>
        </div>
        
    </div>
</nav>

<div class="jumbotron centered mx-5 my-0 bg-light" style="padding: 2rem 2rem;">
    <div class="container" >

      
      <h1 class="display-6">Mr/Miss {{request.user.username}}  <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-teacher-online-learning-vitaliy-gorbachev-lineal-color-vitaly-gorbachev-1.png"/></h1>
      <p class="lead">Dashboard for class number xyz </p>
      
      <hr>
      
  
    </div>
</div>

<div class="container-fluid bg-light " style=" width: 94%;  ">
    <div class="row my-1 p-2 rounded" style="width:100%;  ">
        <div class="col text-center rounded" style=" width:100%; border-style: solid; border-color: #7addd8;"><h2 >{{test.name}}</h2></div>
        
    </div>
    <div class="row p-2 rounded">
        <div class="col-4">
            {% for i in question %}
            <div class="row my-2  p-3 rounded " style="border-style: solid; border-color: #7addd8;">
                <div style="width: 100%;">
                    <h5>{{i.question_desc }}</h5>
                    <p>Correct answer : {{i.correct_answer}}</p>
                    <p>Marks:{{i.marks}} <a class="btn btn-primary " href="/question/studentlist/{{i.id}}" role="button" style="float: right;">Go</a></p>                        
                </div>
            </div>
          
            {% endfor %}
        </div>
        <div class="col-8 my-2">
            <table class="table table-hover table-striped">
                <thead style="background-color: #4bc0ba;">
                    
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col" >Name</th>
                      {% for i in s %}
                      <th scope="col">Question {{i}}</th>
                     {% endfor %}
                    </tr>
                  </thead>
                  <tbody style="background-color: aliceblue;">
                    {% for i in l %}
                    <tr>
                        
                        {% for j in i%}
                            <td>{{j}}</td>
                            
                        {% endfor %}
                        
                    </tr>
                    {% endfor %}
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>


</body>
</html>