<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       
    <title>Document</title>
</head>
<body style="background-color: #77f3e5;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #34807c; color: white;">
        <a class="navbar-brand" href="#" style="color: white;">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: white;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white;">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white;">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#" style="color: white;">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="jumbotron centered mx-5 my-0 bg-light">
        <div class="container">

          
          <h1 class="display-3">Hello {{request.user.username}}  <img src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-student-100-most-used-icons-flaticons-flat-flat-icons.png"/></h1>
          <p class="lead">Your Dashboard💥 </p>
          
          <hr>
          
      
        </div>
    </div>
      <div class="d-flex align-content-around flex-wrap justify-content-around mx-5 my-4 bg-light">
        {% for i in s %}
        <div class="card my-4 mx-5 text-center" style="width: 18rem; background-color: #C1F8CF;">
          <div class="card-body">
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAAD
              imHc4AAAABmJLR0QA/wD/AP+gvaeTAAAGZUlEQVR4nO3ba0xTZxgH8
              H9vQJHChiCCoChCjOhiFbZmMMGJAxXlonVDwWGWmJBlyT4NsrmJcWa4LVt
              clizODwrqcCI3wYGAG9eJyChmEwUFEZwXlFtFsFDafZhTDi1IS09PV5/fx+
              f0nPfp+Z8b7ykAIYQQQgghhBBCCCGEEEIIIYQQa8V73gdadzlrzdGItfL5vGfSfc
              w3VyNEPwqAYxQAx4SGruAzGsdGH1ajVZBp0OfpDOAYBcAxCoBjBt8DnvLyMmEbVqCz0
              6jV6AzgGAXAMQqAYxTAc8wQiVjdPgUwieWubrgZn4Sdi5exNgYFMAF3ew
              fkR2zCTDsxDoaEI2N1JCtnAwWgh1goRP7aWHg6SJ7WEvz8scbT2+RjUQDj8AAcCl2LwFnuj
              PqXigvIu3HN5ONRAOOkLJdhm+9iRq30Vjs+vlDByngUwBgRcxdg76srGbWWvh5sKcnDqJadF4MWGYCXgyM8Z
              jiYdUx/ZxecfCsKAt6zN4jKYRWii3PQp1KxNq7FBRC7wA8KeSIa5TtYuenp42xrh7yIWEhENk9rGq0W28oKcKW
              3m9WxLSYAicgGB0PCkR0eg5l2YriK7VEUuQWpgcHg85772wGjifh8ZIVHY6HTy4z6J
              xcqUXizlbVx/2P8bKgJBc5yx/GwDfAdtxMEPB52BwRhhetsbD9XiF7VY5OPfSA4DG/OmceoZbc1Y7+i1uRj6cPpGSDg8ZAs
              laEmJl5n548VOc8HCvkOnUfD6UrylyLJX8qoNT7owru/noG5fovDWQDeEidURG9FmiwEIj6zjfLbHai5e4tRmydxREXUViQuWmqS8VfNmYsDwWGMWtf
              QIKKKsvFoZMQkY0wFJwHIfRahQZ6IoNmejLpao8Ge+hqEnT6B0PxMncuAWCjE4VXrkLE6EvZC46cFvCVO+HlN
              FCP4EY0Gb5fko2NAafR2jWHWe4CjjS2+f2MNEvz8dZa1P+xHfFnhsyNfq0VKbQUudd/HoZAIxjxMgp8/lji7YPPZPL
              Qp+wzqQSKywem1m+AqtmfUP6gqRfntDsO/1DSZ7QyQuXmgQZ6od+dntV6FNOuwzmUHADKvNSHgVLrO46DUxQ0KeSJi
              5vtNuQc+j4djYRuwdKYro/7DZQUONjVOeTumxHoAQj4fqYHBqI6Jh4/jS4xlymEVEs4VYktJ/qR/7Fzt64Ys5yhy2l
              oYdUcbW2RHxCBNFsL4A2oi+15biY3eCxm1mru38GH1OQO+kWmxGsB8RyeUR8Vhd0CQzg6q67qDFafScazl8pS2pRxW
              YfPZXKTUVjCmBXgAkqUylG18B27iGROuL/dZhGSpjFHrGFAitjgXw5rRqX8pE2MtAHuhCOdjE3RutKNaLfb+8TuCco
              /hen+vQdvUAtivqMX6M1nofjzEWBbqMRcXN2+HzM1DZ73AWe7IWL2e8VPwQfUIooty0DU0aFAPpsZaAIPqEaTUMmcQ
              OweUePN0Jj6rq4JaozF622c7b0CadQR1XXcYdS8HR1RFb2Mc6e72DsgJj4Gd4NnzhhbAe78VQfHgntE9mAqrl6
              AjV/9EevNfAICcthYsO3kYlbeN+/3MeJ0DSqzMO45DTZcYdSGfjzRZCH4K2wAXOzFyI2IYL1YA4IuG8zhx/YpJ+
              pgu1h9D368qQXFHGytfWDU6ip0Vxai/fxffBYfBViB4uizOdzE2evvqvEYsvNmKT+uqTN6LsVh/Cno0MsL60fZ
              jUyNezz2K9of9jPr4nd/c14P4sgJoWJrbN4bFzIZOV8P9ewg4lY6Szht6lyuHVYgtzkX/MHtz+8awmgAAoPvxE
              NadycKe+hrGUa7RahFXWoCm3gccdqefVQUA/PuYm3qxmvEmK7m2HL90sD+3bwyLeB/AhoL265DlZCDBbwm+bqz
              jup0JWd0ZMFZzXw921VVy3cakrDqA/wMKgGMUAMcoAI6x/hSkTUo2ar39ilqdyTxrZLFnQLJUhjRZCNdtsM5i
              AwCAIbWa6xZYZ7EBpF6sxp76Gq7bYJ3eF6kfhcKTNyr8FkA4AIm+z5ApewgtSjV8QcpXlSqdfzDQCeDJzr8E
              wNks7b04eoRq9Sv7zuPvsUWdS9CTI592vuk5qwWib8YX9d0Dws3QzIuJp9XZt/oCoGs+e5zGFyz2KehFQQFw
              jAIghBBCCCGEEEIIIYQQQgghhBBCWPIPYO/bFLIiR7kAAAAASUVORK5CYII=" />
              <h5 class="card-title">{{i.name}}</h5>
              <p class="card-text">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.</p>
              <a href="#" class="btn btn-primary">Enter class</a>
          </div> 
        </div>
        {% endfor %}
       
       
        
      </div>
</body>

</html>