<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       
    <title>Document</title>
</head>
<body style="background-color: #77f3e5;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #34807c; color: white;">
        <a class="navbar-brand" href="#" style="color: white;">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: white;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white;">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white;">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#" style="color: white;">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="jumbotron centered mx-5 my-0 bg-light" style="padding: 2rem 2rem;">
        <div class="container" >

          
          <h1 class="display-6">Mr/Miss (NAME)  <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-teacher-online-learning-vitaliy-gorbachev-lineal-color-vitaly-gorbachev-1.png"/></h1>
          <p class="lead">Dashboard for class number xyz </p>
          
          <hr>
          
      
        </div>
    </div>
    <div class="mx-5">
        <table class="table table-hover table-striped">
            <thead style="background-color: #4bc0ba;">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" >Name</th>
                  <th scope="col">Register number</th>
                  <th scope="col">Marks</th>
                </tr>
              </thead>
              <tbody style="background-color: aliceblue;">
                <tr>
                <td>1</td>
                <td>G</td>
                <td>BLC101</td>
                <td>86</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>G</td>
                    <td>BLC101</td>
                    <td>86</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>G</td>
                    <td>BLC101</td>
                    <td>86</td>
                </tr>
            </tbody>
        </table>
    </div>
    
      
</body>

</html>