<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      html {
    min-height: 100%;
    position: relative;
  }


.footer-padding {
	padding-bottom: 20px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 7px;
	font-size: 20px;
    color: #fff;
}
    </style>
    <title>Document</title>
</head>
<body style="background-color: #77f3e5;">
    <nav class="navbar navbar-expand-lg navbar-light px-5" style="background-color: #34807c; color: white;">
        <a class="navbar-brand" href="#" style="color: white;">Vivaluate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: white;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white;">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white;">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#" style="color: white;">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>
      <br><br><br>
      <div class="jumbotron centered mx-5 my-0">
          <div class="container">
            <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-artificial-intelligence-robotics-flaticons-lineal-color-flat-icons.png" style="width: 10%;"/>
            <h1 class="display-3">Vivaluate</h1>
            <p class="lead">AI based answer checker</p>
            <hr>
            <a class="btn btn-dark btn-lg" href="/login" role="button">Login/Register</a>
            
            <a class="btn btn-dark btn-lg" href="/" role="button" style="float: right;">About Us</a>
          </div>
        </div>
        <div class="footer-padding"></div>
        <div class="footer">
          <p>©VIT Chennai</p>
        </div>
</body>

</html>